<body>
	<div class="container">
		<div class="row">
			{% include 1name-face.html %}
			
		</div>
			
		<div class="row">
			<div class="col-8">
				<div class="mt-2 mb-2">
				{% include 2profile.html %}
				</div>
				<div class="mt-2 mb-2">
				{% include 3objective.html %}
				</div>
				<div class="mt-2 mb-2">
				{% include 4edu-certifi.html %}
				</div>
			</div>
			<div class="col-4">
				<div class="mt-2 mb-2">
				{% include 5contact-hobby.html %}
				</div>
				<div class="mt-2 mb-2">
				{% include 6skill-lang.html %}
				</div>
			</div>
		</div>
	</div>
</body>