body {
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
	
	> div {
		width: 595px !important;
		
		.logo {
			img {
				width: 80px;
			}
		}
	}
	
	.portrait {
		img {
			width: 60px;
		}
	}
}